<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poll Simulator</title>
</head>

<body>
    <div class="container card shadow-lg p-3 mb-5 bg-white rounded" style="width:40%; margin-top:10px;">
      <h1><center><u>Poll Simulator</u></center></h1>
            <center><a href="/AddCandidates">Add Candidates</a></center>
            <br>
            <center><a href="/Vote">Vote</a></center>
            <br>
            <center><a href="/PollResult">Poll Result</a></center><br>
            <center><a href="/Report">Voting Summary</a></center>
    </div>
</body>

</html>